{% extends 'store/base.html' %}
{% load static %}
{% load customfunction %}
{% block link%}
  <link rel="stylesheet" href="{% static 'assets/css/writer.css' %}">
{% endblock %}
{% block container %}


  <section class="container writer">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ writer.pic.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Tác giả:{{writer.name}}</h5>
            <p class="card-text">{{writer.bio}}</p>

          </div>
        </div>
      </div>
    </div>
  </section>

<section class="container" id="outstanding-produts">
    <hr>
    <div class="row text center">
        <h1 class="tag-text">SẢN PHẨM CỦA {{writer.name|upper}}</h1>
    </div>
    <hr>
    <div class="site-content cf">
        <div class="courses cf"  id="featured-courses">
            {% for item in books %}
            <div class="course-item slide">
                <div class="card h-100">
                    <img width="100%" height="100%" src="{{item.coverpage.url}} " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">{{item.name}}</h6>

                        {% if item.pricesale > 0 %}
                        <div style="display: flex; justify-content:center;">
                            <p class="text-decoration-line-through">{{ item.price|formatcurrency }} </p>
                            <p class="card-text"> - {{ item.pricesale|formatcurrency }}</p>
                        </div>
                        {% else %}
                        <div style="display: flex; justify-content:center;">
                            <p class="text-decoration-line-through"></p>
                            <p class="card-text">{{ item.price|formatcurrency }}</p>
                        </div>
                        {% endif %}
                        <hr>
                        <button class="buybtn" data-url="{% url 'store:book' id=item.id %}"><i class="fa-solid fa-money-check-dollar"></i>&nbsp;Mua ngay</button>
                        <button class="cartbtn btnAddToCart" data-id="{{ item.id }}" ><i class="fa-solid fa-cart-shopping"></i>&nbsp;Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>





{% endblock %}
{% block scripts %}
<script src="{% static 'assets/js/writer-handle.js' %}"></script>
{% endblock %}