{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Icon -->
    <link rel="stylesheet" type="text/css"  href="{% static '/assets/fonts/material-icon/css/material-design-iconic-font.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" type="text/css"  href="{% static '/assets/css/css_Login/style.css' %}">
</head>
<body>

    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Enter your new password: </h3>
        <hr>
        <p> Please enter your new password twice so that we can verify that
            you typed it in correctly!
        </p>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> Update password </button>
        </form>
    </div>
</body>
<script src="{% static '/assets/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/assets/js/js_login/main.js' %}" type="text/javascript"></script>
</html>


